###Welcome to our Basic Python Programming Workshop !!!!



---

#General overview of the python

The following are a few things that are to be kept in mind, once you start coding in python -



*   *Interpreted* , not compiled
*   Case sensitive 
*   Identations 
*   Can be used with an iteractive environment 
*   Object Oriented 
*   Broad standard library 
*   Scripting language
*   GUI programming
*   One of the easiest and most versatile of languages


---

###File Format
 
 Generally python files are stored in the format-
 > **file_name.py**
 
 and can be executed through the terminal using the command-
  > **$    python file_name.py**



---


#Basic Data Types

The following are the built in types supported by the python -



1.   int ( integers )  
2.   float ( floating point numbers )
3.   complex  (complex numbers)
4.   str ( strings )
5.   lists ( series of elements stored under a common name )
6.   tuples 
7.   dict ( dictionaries )
8.   sets   

**Note-** A variable must be initialised before it is used .





---

In [0]:
#############  Basic Data Types  ###############

a=10;b=5.01                                 # float
c="This is a string"                                 # string
d=[1,2.0, "String",[1,2,3]]                                 # list
e=(1,2,34)                             # tuple
f={"pi":3.14,"chi":2.0}                             # dict
g=complex(10,20)                                 # complex

## Rules for naming Python Identifiers



*   Class names start with an uppercase letter. All other identifiers start with a lowercase letter.
*   Starting an identifier with a single leading underscore indicates that the identifier is private
*   Starting an identifier with two leading underscores indicates a strong private identifier
*   If the identifier also ends with two trailing underscores, the identifier is a language-defined special name.



---


##Print Statement


To print something on the standard output, all you have to do is write -

>**print("string to be shown on the screen ")**


---

In [0]:
#############  Printing stuff  ###############

## Write your code here ## 
print("Hello World")
##

Hello World



---

The basic syntax of the print statement is -

>**print(s1,s2,s3,...,end="\n",sep=" ", file, flush )**

As you can see, there is comma seperated list of variables s1,s2,.... which refers to different variables. Tis means that multiple variables can be printed at the same time. The seperator and the character to be placed at the end of the line can also be changed. 

---

In [0]:
#############  Printing some more stuff  ###############

## Write your code here ## 
print(a,b,c,sep=" filler ",end=" end ")
print("string")
##

10 filler 5.01 filler This is a string end string



---


##type() , dir() and help()

python provides some extra functions to help you with get a better understanding of the variables and the code during run time.The following are three of the most basic and most important of these functions. Run the foloowing cells and check these out. 


---

In [0]:
#print(help(list))
print(type(a))
print(dir(int))

<class 'int'>
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']



---


##Taking Input from the user


use the input() function to accept input from the user in the form of a string


---

In [0]:
#############  Input  ###############

s=input("Enter the value of variable s: ")                                       # take input from the user
print(s,type(s))

Enter the value of variable s: 10
10 <class 'str'>

##Type conversion Functions 

python provides some basic functions to convert one data type to the other. These functions are same as their type names.

In [0]:
a=10
b=int(input())
print(b,type(b))
b=str(a)
print(b,type(b))

12
12 <class 'int'>
10 <class 'str'>

###Indentations

Indentations are extremely important in python. It also makes the code more readable. Writing code without proper indentations raises critical errors during execution time.

In [0]:
####### indentations ########

if False:                           #try changing this to True
  
  print("True")
  print("statement2 ")
  print("statement3")
print("statement 4 ")

statement 4

###Multi-line statements

In [0]:
result=10 + \
       5 + \
       6

print(result)

21

###Comments

In [0]:
# A comment starts with a hash symbol

###Multi-line String 

A triple quotation marks in python refers to a muti-line string. It continues until it is terminated by a closing triple quote.

In [0]:
#trying to write quotes within quotes

s="My name is "Hardik", and i'm  not a sexist "                          #try replacing teh outer quotes with triple quotes

In [0]:
s="""Chacha.....
Arey Oo  @$%#&!wale Chacha """

print(s)

Chacha.....
Arey Oo  @$%#&!wale Chacha

###Deleting objects

To delete previously declared objects all you have to do is write the command:
>**del var1[, var2, var3, ... ]**

In [0]:
del s## delete some of the previously defined variable
print(s)

NameError: ignored

###If you ever see  {     if  \__name__=="\__main__" :  }

This is a way of defining what other programming languages call the main function, method or class. It can be omitted and the code will still run just fine.(although it is sometimes important to write this in some scripting applications)

In [0]:
print("statement 1")

if __name__=="__main__":
  
  print("statement 2")

print("statement 3")

statement 1
statement 2
statement 3

#Basic Operators And Operations 

Python language supports the following types of operators −

*   Arithmetic Operators
*   Comparison (Relational) Operators
*   Assignment Operator
*   Logical Operators
*   Bitwise Operators
*   Membership Operators
*   Identity Operators





The following are some basic operations that can be performed on integral and floating point type objects.

In [0]:
a=5
b=2

print(a+b)              # addition      
print(a-b)              # subtraction      
print(a*b)              # multiplication        
print(a/b)              # division
print(a%b)              # modulus
print(8//3)             # floor or integral division       
print(a**b)             # exponent; equivalent to a^b

7
3
10
2.5
1
2
25

###Multiple Assignments 

Python allows multiple assignments at the same time  in the following ways:

In [0]:
a=b=c=15.0                
print(a,b,c)#try printing out the values


a,b,c= 10,3,45              ## this os a tuple-based assignment
print(a,b)
print(c)

15.0 15.0 15.0
10 3
45

###Comparison Operator

In [0]:
a=20
b=10

print(a==b)                            # is equal to     
print(a>=b)                           # greater than or equal to
print(a<=b)                           # less than or is equal to
print(a<b)                            # less than
print(a>b)                            # greater than
print(a!=b)                           # not equal to

False
True
False
False
True
True

###Assignment operators

In [0]:
a=20
b=10
                
a+=b                   # a=a+b         addition assignment               
print(a)

a-=b#subtraction              
print(a)
a/=b                
#division              
print(a)
                
a*=b#multiplication              
print(a)  

a//=b#floor division              
print(a)                

a**=b#exponent              
print(a)                

a%=b#modulus         
print(a)

30
20
2.0
20.0
2.0
1024.0
4.0

###Logical Operators

In [0]:
a=10 
b=20

print(a and b)
print(a or b)
print(not a)

20
10
False

###"is" and "in"

**is**: used to check for similarity

**in**: used to check for containership

In [0]:
# use of is

a=10
b=10
c=20

print(a is b)
print(a is c)

True
False

In [0]:
# use of in

l=["a","b",'c',"d"]

print("a" in l)
print("c" in l)
print("k" in l)

True
True

#Conditional Statements

The conditional statements in  python are generally defined using the keywords if, elif and else. The general syntax is -


```
if condition_1:
    statement_1
elif condition_2:
    statement_2
else:
    statement_3

```

The if-else structure can also be nested, i.e. if can contain other if statements. For example:


```
if condition_1:
    if condition_11:
        statement_11
    else:
        statement_12
else:
     statement_2
```

In [0]:
a=20

if a==10:
  print("this is not going to be printed")
elif a==20:
  print("a is 20")
else:
  print("a is not equal to 10")

a is 20

In [0]:
### try yourself ###

year=int(input("enter the year you want to check:"))

#given the year, print if it is a leap year or not

##Write your code here
if year%400==0:
  print("leap")
elif year%100==0:
  print("not a leap year")
elif year%4==0:
  print("leap year")
else:
  print("not a leap year")
##end code

enter the year you want to check:2019
not a leap year

#Iterative Statements

There are two types of iterative statements on python namely for and while . The blocks of code defined under these lines 

##For loop

The basic syntax for a for-loop is :


```
for iterating_var in sequence:
   statement(s)
```

In [0]:
a=[1,2,3,4,5]


#print all elements of a

for i in a:
  print(i)

1
2
3
4
5

###range()
 
The range function is used to obtain a range of integer values depending on the arguments passed to it. It's basic syntax is-



```
range(start,stop,step)
```

In [0]:
print(range(0,12,3))                         #range func
print(list(range(0,12,3)))                         #converting it to list

range(0, 12, 3)
[0, 3, 6, 9]

In [0]:
## using range in a for loop ##
for i in range(0,20,2):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##While Loop

The only difference between while and for loop is that while tests a conditions and iterates only if it is true, whereas for is used to iterate over some range or sequence of values. The basic syntax for while loop is:


```
while condition:
    statement(s)
```

In [0]:
i=1
while i in range(1,10):
  print(i)
  i=i+1## print the first 10 natural numbers using while loop

1
2
3
4
5
6
7
8
9

###break, continue and pass 

**break-** used to break out of an iterating block 

**continue-** used to trigger the next iteration by skipping over the rest of the code block 

**pass-** this statement is passed over, i.e. nothing happens when this statement is encountered

In [0]:
for i in range(1,11):
  ###try all the tree statements inside an if block here 
  if i==5:
    break             #try replacing break with continue and pass
  print(i)
  
  ##print value of i
  ###end code

### "else" with for and while loops

Python supports having an else statement associated with a loop statement.

*   If the else statement is used with a for loop, the else statement is executed when the loop has exhausted iterating the list.
*   If the else statement is used with a while loop, the else statement is executed when the condition becomes false.

In [0]:

for i in range(0,10):
  print(i)
  if i==5:
    break
else:
  print("loop finished")

0
1
2
3
4
5

In [0]:
l=[23,43,5,34,5,63,87,88,4444,1]
key=

###### using for loop, check if the key is present in the list l and print its location if found

###Nested loops

In [0]:
for i in range(2,20):
  for k in range(1,10):
    print(i,k)
    print("inner")### try yourself ####
  print("outer")

2 1
inner
2 2
inner
2 3
inner
2 4
inner
2 5
inner
2 6
inner
2 7
inner
2 8
inner
2 9
inner
outer
3 1
inner
3 2
inner
3 3
inner
3 4
inner
3 5
inner
3 6
inner
3 7
inner
3 8
inner
3 9
inner
outer
4 1
inner
4 2
inner
4 3
inner
4 4
inner
4 5
inner
4 6
inner
4 7
inner
4 8
inner
4 9
inner
outer
5 1
inner
5 2
inner
5 3
inner
5 4
inner
5 5
inner
5 6
inner
5 7
inner
5 8
inner
5 9
inner
outer
6 1
inner
6 2
inner
6 3
inner
6 4
inner
6 5
inner
6 6
inner
6 7
inner
6 8
inner
6 9
inner
outer
7 1
inner
7 2
inner
7 3
inner
7 4
inner
7 5
inner
7 6
inner
7 7
inner
7 8
inner
7 9
inner
outer
8 1
inner
8 2
inner
8 3
inner
8 4
inner
8 5
inner
8 6
inner
8 7
inner
8 8
inner
8 9
inner
outer
9 1
inner
9 2
inner
9 3
inner
9 4
inner
9 5
inner
9 6
inner
9 7
inner
9 8
inner
9 9
inner
outer
10 1
inner
10 2
inner
10 3
inner
10 4
inner
10 5
inner
10 6
inner
10 7
inner
10 8
inner
10 9
inner
outer
11 1
inner
11 2
inner
11 3
inner
11 4
inner
11 5
inner
11 6
inner
11 7
inner
11 8
inner
11 9
inner
outer
12 1
inner
12 2
inner
12 3
inner
12 4
inner
12 5
inner
12 6
inner
12 7
inner
12 8
inner
12 9
inner
outer
13 1
inner
13 2
inner
13 3
inner
13 4
inner
13 5
inner
13 6
inner
13 7
inner
13 8
inner
13 9
inner
outer
14 1
inner
14 2
inner
14 3
inner
14 4
inner
14 5
inner
14 6
inner
14 7
inner
14 8
inner
14 9
inner
outer
15 1
inner
15 2
inner
15 3
inner
15 4
inner
15 5
inner
15 6
inner
15 7
inner
15 8
inner
15 9
inner
outer
16 1
inner
16 2
inner
16 3
inner
16 4
inner
16 5
inner
16 6
inner
16 7
inner
16 8
inner
16 9
inner
outer
17 1
inner
17 2
inner
17 3
inner
17 4
inner
17 5
inner
17 6
inner
17 7
inner
17 8
inner
17 9
inner
outer
18 1
inner
18 2
inner
18 3
inner
18 4
inner
18 5
inner
18 6
inner
18 7
inner
18 8
inner
18 9
inner
outer
19 1
inner
19 2
inner
19 3
inner
19 4
inner
19 5
inner
19 6
inner
19 7
inner
19 8
inner
19 9
inner
outer

#Strings

In python, strings are intangible. This means that once decalred, they cannot be modified at a later stage. Some of the important functionalities related to string are-



*   concatenation
*   repetition
*   slicing 
*   range slicing
*   formatting

In [0]:
s1="This is, a string"
s2="string"

In [0]:
## accessing individual elements
print(s1[5])     #accesasing from forward direction
print(s1[-2])     #accesasing from backward direction

i
n

In [0]:
### concatenation  ###

print(s1+s2)

This is, a stringstring

In [0]:

### repetition  ###
print(s2*3)

stringstringstring

In [0]:
###  slicing  ###

s3=s1[0:11]
print(s3)

s3=s1[-3:-1]
print(s3)

s3=s1[:11]
print(s3)

s3=s1[-5:]
print(s3)

This is a s
in
This is a s
tring

In [0]:

### formatting  ###
a=3.142857

print("the value of pi is %0.2f" %(a) )              # %d,%s,%f,%c,%e,%o,%x



## try using dictionaries

the value of pi is 3.14

In [0]:
# splitting into a list

l=s1.split()
print(l)


l=s1.split(",")
print(l)

['This', 'is,', 'a', 'string']
['This is', ' a string']

Some of the important functions associated with strings are -

len()

upper()

lower()

isupper()

islower()

find()

count()

isalpha()

isalnum()

isdigit()


**Note-** use dir(str) to find out all of these functions.

#Lists

python list is probably the most important data type in terms of usage and applications. They can contain more than ine type of variable in them. Following are the basic operations that can be performed on a list-

In [0]:
a=[1,2,3,4,5,6,7,8]

print(dir(list))
print(a)

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
[1, 2, 3, 4, 5, 6, 7, 8]

In [0]:
### accessing elements of a list  ###
print(a[5])

6

In [0]:
### slicing  ###
print(a[5])

#similar to strings

print(a[::-1])     #reversing the list

[8, 7, 6, 5, 4, 3, 2, 1]

In [0]:
### deleting elements  ###

del a[5]
print(a)

[1, 2, 3, 4, 5, 7, 8]

In [0]:
##  in case you need help with any function

print(help(list.insert))

Help on method_descriptor:

insert(...)
    L.insert(index, object) -- insert object before index

None

In [0]:
###  insertion  ###
a.insert(5,6)

print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [0]:
###  append  ###
a.append(10)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 10, 10]

In [0]:
### reversing  ###
a.reverse()
print(a)

[10, 10, 8, 7, 6, 5, 4, 3, 2, 1]

In [0]:
### sorting  ###
a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 10, 10]

In [0]:
###  pop  ###
a.pop()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 10]

##List Comprehensions

A way to initialize a list in a much simpler way.

In [0]:
l=[i*i for i in range(1,51)]## using for 

print(l)

l=[i*i for i in range(1,51) if i%2==0]## using for and if

print(l)

l=[i*i if i%2==0 else 0 for i in range(1,51)]##using for, if and else

print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]
[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500]
[0, 4, 0, 16, 0, 36, 0, 64, 0, 100, 0, 144, 0, 196, 0, 256, 0, 324, 0, 400, 0, 484, 0, 576, 0, 676, 0, 784, 0, 900, 0, 1024, 0, 1156, 0, 1296, 0, 1444, 0, 1600, 0, 1764, 0, 1936, 0, 2116, 0, 2304, 0, 2500]

#Tuples

In [0]:
#immutable (or unchangeable) and ordered
#tuple vs list 
#tuples are immutable lists
# you cannot add values either
foo = (1,2,3,4,5)

In [0]:
# slicing 

numbers =(1,2,3,4,5)
print(numbers[:-1])

#reverse slicing

print(numbers[::-1])

(1, 2, 3, 4)
(5, 4, 3, 2, 1)

In [0]:
# for single element tuple declare them with a comma
baz = (1,)

In [0]:
# tuple based assignment


a,b=10,20

print(a)

In [0]:
# tuples support following basic operations

t=foo + numbers         # concatenation
print(t)

t=foo*3                  #repetation
print(t)


for i in t:
  print(i)           #iteration over tuple

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5

#Dictionaries

These are a set of key-value pairs. Each key, which is unique, corresponds to a value which can be accesses only by using the dictionary name and key.

In [0]:
### Initialising dictionaries 

temp={"pi":3.14,"chi":2.0} ###Standard
print(temp)


### with lists

list1=[1,2,3,4,5]

list2=["one","two",'three',"four","five"]

temp2=dict(zip(list2,list1))                #here list2 elements serve as keys and list1 elements as corresponding values
print(temp2)

{'pi': 3.14, 'chi': 2.0}
{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [0]:
# accessing elements

print(temp2["one"])
print(temp["pi"])

In [0]:
# creating new entries

temp["new"]=2019
print(temp)

{'pi': 3.14, 'chi': 2.0, 'new': 2019}

In [0]:
# dict to string; returns a printable string versionof the dictionary

dstr=str(temp)

print(dstr,type(dstr))

{'pi': 3.14, 'chi': 2.0, 'new': 2019} <class 'str'>

In [0]:
# printing keys and values

print(temp.keys())
print(list(temp.keys()))

print(temp.values())
print(list(temp.values()))

dict_keys(['pi', 'chi', 'new'])
['pi', 'chi', 'new']
dict_values([3.14, 2.0, 2019])
[3.14, 2.0, 2019]

#Functions

Functions encourage modularity in code and improves readability. Each function is executed only when it is called and terminates as seen as the functional block ends, or a return statement is encountered.

The syntax for function declaration is as follows-



```
def func_name(arg_1,arg_2,...):
    statement(s)
    return
```

In [0]:
### create the function to take a list and return value obtained on multiplying all its elements 
### Write your code here
def func(a):
  sum=0
  for i in a:
    sum+=i
  return sum,a

### end code here

a=[i for i in range(1,11)]

s,b=func(a);
print(s,b)

###note that in python there is no storage limit for a variable

55 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Packages

To use external packages, and the objects and functions defined in them, we have to first import them into the program. The main keywords used for this purpose are **import, from** and **as**.

In [0]:
##let's import some packages
import math 

print(math.pi)

3.141592653589793

In [0]:
from math import pi

print(pi)

3.141592653589793

In [0]:
from math import pi as pi_alias

print(pi_alias)
print(pi)

3.141592653589793

NameError: ignored